/*UI Bootstap fix @see https://angular-ui.github.io/bootstrap/#/getting_started */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.angular-reservation-box {
    border: 2px solid gainsboro;
}

.angular-reservation-icon-size {
    font-size: 18px;
}

.angular-reservation-selected {
    color: #fff !important;
    background-color: #5cb85c;
}

.angular-reservation-selected:hover {
    color: #fff !important;
    background-color: #5cb85c !important;
}

.angular-reservation-datepicker {
    width: 252px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.angular-reservation-availableHour {
    margin: 2em;
}

.angular-reservation-noAvailableHours {
    margin: 2em 2em;
    display: block;
    text-align: center;
}

.angular-reservation-clientForm {
    margin-top: 2em;
    margin-bottom: 2em;
}

.angular-reservation-loader-min-height {
    min-height: 500px;
}